footer.footer
  .container
    .row
      .col-md-3.col-sm-4.col-xs-3
        .widget.clearfix
          .widget.clearfix
            ul.twitter-widget.footer-links
              li
                a(href='/')  Home 
              li
                a(href='/about-us')  About Us 
              li
                a(href='/items-available')  Items available
            // end links
            // end clearfix
            // end col
      .col-md-3.col-sm-3.col-xs-12
        .widget.clearfix
          ul.twitter-widget.footer-links
            li
              a(href='/#agent')  How it's work
            li
             a(href='/receive-disposal-quote') Waste Disposal 
            li
              a(href='/contact-us')  Contact us
          // end links
          // end clearfix
          // end col
      .col-md-2.col-sm-2.col-xs-12
      // end col
      .col-md-3.col-sm-3.col-xs-12
        .widget.clearfix
          //
            <div class="widget-title">
            <h3>Social</h3>
            </div>
          ul.footer-links
            li
              a(href='#')
                i.fa.fa-map-marker(aria-hidden='true')
                span Location:
                br
                p(style='margin-left: 34px;') 123 Street, Perth, WA
            li
              a(href='#')
                i.fa.fa-phone.fa-rotate-270(aria-hidden='true')
                span Phone:
                br
                p(style='margin-left: 34px;') 6102 0000
          // end links
          // end clearfix
          // end col
          // end row
          // end container
          // end footer

// ALL JS FILES
script(src='js/all.js')
// ALL PLUGINS
script(src='js/custom.js')
script(src='js/portfolio.js')
script(src='js/hoverdir.js')
script(src='https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
// MAP & CONTACT
script(src='js/map.js')
// jsDeliver
script(type='text/javascript', src='js/jquery.lazy.js')
script(type='text/javascript', src='js/jquery.lazy.plugins.min.js')
script(type='text/javascript', src='js/jquery.lazy.plugins.js')
script.
   var urls = window.location.href.split('/')[3]
   console.log(urls,'--');
   if(urls=="items-available"){
      $("#dynmic_name").html("Items avalaible");
      $(".first a").removeClass("active");
      $(".scound a").removeClass("active");
      $(".thired a").removeClass("active");
      $(".forth a").removeClass("active");
      $(".fifth a").addClass("active");
      $(".six a").removeClass("active");
   }else if(urls == "receive-disposal-quote"){
     $("#dynmic_name").html("Receive Disposal Quote");
      $(".first a").removeClass("active");
      $(".scound a").removeClass("active");
      $(".thired a").removeClass("active");
      $(".forth a").addClass("active");
      $(".fifth a").removeClass("active");
      $(".six a").removeClass("active");
   }else if(urls == "contact-us"){
     $("#dynmic_name").html("Contact Us");
      $(".first a").removeClass("active");
      $(".scound a").removeClass("active");
      $(".thired a").removeClass("active");
      $(".forth a").removeClass("active");
      $(".fifth a").removeClass("active");
      $(".six a").addClass("active");
   }else if(urls == "about-us"){
      $(".first a").removeClass("active");
      $(".scound a").removeClass("active");
      $(".thired a").addClass("active");
      $(".forth a").removeClass("active");
      $(".fifth a").removeClass("active");
      $(".six a").removeClass("active");
   }else if(urls == "about-us"){
      $(".first a").removeClass("active");
      $(".scound a").removeClass("active");
      $(".thired a").removeClass("active");
      $(".forth a").addClass("active");
      $(".fifth a").removeClass("active");
      $(".six a").removeClass("active");
   }else if(urls == "#agent"){
      $(".first a").removeClass("active");
      $(".scound a").addClass("active");
      $(".thired a").removeClass("active");
      $(".forth a").removeClass("active");
      $(".fifth a").removeClass("active");
      $(".six a").removeClass("active");
   }else{
        $("#dynmic_name").html("Item Description");
   }

